<div class="resume-section-content">
    <h2 class="mb-5">Leave a Message</h2>

    <form method="post">
        <label>Name - Surname</label>
        <input type="text" class="form-control" name="WhoSend"/>

        <label>Mail</label>
        <input type="text" class="form-control" name="mail" />

        <label>Subject</label>
        <input type="text" class="form-control" name="Subject"/>

        <label>Message</label>
        <input type="text" class="form-control" name="Message" />

        <br />

        <button class="btn btn-info">Send</button>
    </form>