
@{
    ViewBag.Title = "EgitimEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>EgitimEkle</h2>

<form method="post">
    <input type="text" name="Header" class="form-control" placeholder="Başlığı yazınız" />
    <br />
    <input type="text" name="SecondHeader" class="form-control" placeholder="Alt Başlık yazınız" />
    <br />
    <input type="text" name="LastHeader" class="form-control" placeholder="Açıklama yazınız" />
    <br />
    <input type="text" name="GNO" class="form-control" placeholder="Açıklama yazınız" />
    <br />
    <input type="text" name="Date" class="form-control" placeholder="Tarih" />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

