@using MyWebCv.Models.Entity
@model List<Awards2_Table>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Sertifika Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Sertifika Adı</th>
        <th>Sil</th>
    </tr>
    @foreach (var a in Model)
    {

<tr>
    <td>@a.ID</td>
    <td>@a.Awards</td>
    <td><a href="/Sertifika/SertifikaSil/@a.ID" class="btn btn-danger">Sil</a></td>
</tr>
    }




</table>
<a href="/Sertifika/SertifikaEkle/" class="btn btn-dark">Yeni Sertifika Ekle</a>

