
@{
    ViewBag.Title = "SertifikaEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h4>Sertifika Ekleme Sayfasi</h4>
<br />

<form method="post">
    <label>Sertifika Adı</label>
    <input type="text" name="Awards" class="form-control" placeholder="Sertifikayı Yazınız" />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

