
@{
    ViewBag.Title = "YetenekEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h4>Yetenek Ekleme Sayfasi</h4>
<br />

<form method="post">
    <label>Yetenek Adı</label>
    <input type="text" name="Skills" class="form-control" placeholder="Yeteneği Yazınız" />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

