
@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h4>Deneyim Ekleme Sayfasi</h4>
<br />

<form method="post">
    <input type="text" name="Header" class="form-control" placeholder="Başlığı yazınız" />
    <br />
    <input type="text" name="SecondHeader" class="form-control" placeholder="Alt Başlık yazınız" />
    <br />
    <input type="text" name="Explanation" class="form-control" placeholder="Açıklama yazınız" />
    <br />
    <input type="text" name="Date" class="form-control" placeholder="Tarih" />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>
